*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 62.5%;
  background: #000;
}

.container {
  max-width: 1400px;
  margin: auto;
  width: 90%;
}

li {
  list-style-type: none;
}

.navbar-container {
  /* border: 2px solid red; */
  color: white;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container .items {
  /* border: 2px solid red; */
  display: flex;
  gap: 1.3rem;
  font-size: 1.3rem;
}

.navbar-container .logo {
  width: 120px;
}

.navbar-container .logo img {
  width: 100%;
}

.one {
  /* border: 2px solid red; */
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.one .left {
  /* border: 2px solid red; */
  flex-basis: 40%;
  margin: auto 0;
}

.one .left img {
  width: 100%;
}

.one .right {
  /* border: 2px solid red; */
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: auto;
}

.one .right .heading-small {
  color: #d91b19;
  font-weight: bolder;
  font-size: 2.5rem;
}

.one .right .heading-large {
  color: white;
  font-size: 3.5rem;
}

.one .right .one-text {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.red button {
  padding: 0.8rem 2rem;
  background: #d91b19;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  outline: none;
  border: none;
}
.two {
  position: relative;
}

.two::before {
  content: "";
  width: 50%;
  background: #181818;
  /* border: 2px solid red; */
  height: 100%;
  position: absolute;
  z-index: -1;
}

.two .container {
  /* border: 2px solid red; */
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.two .container .top {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: auto;
}

.two .container .top .block {
  /* border: 2px solid red; */
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.two .container .top .block h2 {
  font-size: 1.5rem;
}
.two .container .top .block p {
  font-size: 1.2rem;
}

.two .container .top .block img {
  width: 50px;
  height: 50px;
}

.two .block-1,
.two .block-3 {
  background: #181818;
}
.red-2 {
  color: #d91b19;
}
.two .block-2 {
  background: #d91b19;
}

.two .container .bottom {
  /* border: 2px solid red; */
  width: 83%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two .container .bottom .left {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
}

.two .container .bottom .left h2 {
  font-size: 6rem;
  font-weight: bolder;
  color: #d91b19;
}

.two .container .bottom .left h3 {
  font-size: 2rem;
}
.two .container .bottom .right {
  /* border: 2px solid red; */
  flex-basis: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.two .container .bottom .right .block {
  flex-basis: 45%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: space-around;
  background: #1e1e1e;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 0.5em;
}

.two .container .bottom .right .block h2 {
  font-size: 3rem;
  color: #d91b19;
  font-weight: bolder;
}
.two .container .bottom .right .block p {
  /* border: 2px solid red; */
  font-size: 1.2rem;
  color: gray;
}
.three {
  color: #fff;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74%;
  margin: 2rem auto;
  /* border: 2px solid red; */
}

.three .left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.three .left h2 {
  font-size: 2rem;
}

.three .left p {
  font-size: 1.3rem;
}

.four {
  width: 74%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

.four .block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 48%;
  margin-bottom: 2rem;
}

.four .block img {
  display: block;
  width: 100%;
  height: 100%;
  border: 30px solid #1e1e1e;
}

.four .block h2 {
  font-size: 1.5rem;
}

.four .block p {
  font-size: 1rem;
  font-weight: bolder;
}

.five {
  /* border: 2px solid red; */
  margin-top: 2rem;
  width: 74%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  background: #181818;
  padding: 3em;
  margin-bottom: 2rem;
}

.five .left {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 70%;
}

.five .right {
  flex-basis: 30%;
  text-align: center;
}

.five .left h2 {
  font-size: 3rem;
}

.five .left p {
  font-size: 1.2rem;
}

.six {
  /* border: 2px solid red; */
  width: 74%;
  margin: 0 auto;
  color: white;
  margin-bottom: 2rem;
}

.six .items {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.seven {
  background: #181818;
}

.seven-container {
  width: 73%;
  margin: 0 auto;
  padding: 2em 0;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  position: relative;
}

.seven-container .right {
  /* border: 2px solid red; */
  display: flex;
  gap: 2rem;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.seven-container .right img {
  width: 30px;
  height: 30px;
}

.seven-container .logo {
  /* border: 2px solid red; */
  width: 120px;
}

.seven-container img {
  width: 100%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1200px) {
  .one .right .heading-small {
    font-size: 2rem;
  }

  .one .right .heading-large {
    font-size: 3rem;
  }

  .one .right .one-text {
    font-size: 1.3rem;
  }
  .navbar-container .items {
    font-size: 1rem;
  }
  .two .container .top .block {
    flex-basis: 32%;
  }
  .two .container .top .block h2 {
    font-size: 1.3rem;
  }
  .two .container .top .block p {
    font-size: 1.1rem;
  }
  .two .container .bottom .right {
    /* border: 2px solid red; */
    flex-basis: 95%;
  }
  .two .container .bottom .right .block h2 {
    font-size: 2rem;
  }

  .two .container .bottom .left h2 {
    font-size: 4rem;
  }

  .two .container .bottom .left h3 {
    font-size: 1.5rem;
  }
  .three .left h2 {
    font-size: 1.5rem;
  }

  .three .left p {
    font-size: 1.1rem;
  }
  .five .left h2 {
    font-size: 2rem;
  }

  .five .left p {
    font-size: 1.2rem;
  }
  .five br {
    display: none;
  }
  .five .left {
    flex-basis: 60%;
  }
  .five .left h2 {
    font-size: 2rem;
  }

  .five .left p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1068px) {
  .two .container .top .block p {
    font-size: 1rem;
  }
  .two .container .top {
    justify-content: space-around;
    width: 86%;
    margin: auto;
  }
  .four .block img {
    border: 20px solid #1e1e1e;
  }
  .five .left h2 {
    font-size: 1.5rem;
  }

  .five .left p {
    font-size: 1rem;
  }
  .five .left {
    flex-basis: 55%;
  }
  .five .left h2 {
    font-size: 1.5rem;
  }

  .five .left p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 968px) {
  .one .right .one-text br {
    display: none;
  }
  .one .left {
    flex-basis: 45%;
  }
  .one .right {
    flex-basis: 55%;
  }
  .one .right .heading-small {
    font-size: 1.3rem;
  }

  .one .right .heading-large {
    font-size: 2.3rem;
  }

  .one .right .one-text {
    font-size: 1.1rem;
  }
  .two .container .top {
    flex-wrap: wrap;
    /* border: 2px solid red; */
  }
  .two .container .top .block {
    /* border: 2px solid red; */
    flex-basis: 47%;
    margin-bottom: 1rem;
    padding: 2em;
  }
  .two .container .top {
    justify-content: space-between;
  }
  .two .container .bottom .right {
    /* border: 2px solid red; */
    flex-basis: 46%;
  }
  .two .container .bottom .right .block {
    flex-basis: 48.5%;
    /* border: 2px solid red; */
    margin-bottom: 0.5rem;
  }
  .two .container .bottom .right .block p {
    font-size: 0.8rem;
  }
  .two .container .bottom .right .block h2 {
    font-size: 1.5rem;
  }
  .two .container .bottom .left h2 {
    font-size: 3rem;
  }

  .two .container .bottom .left h3 {
    font-size: 1.3rem;
  }
  .three .left h2 {
    font-size: 1.3rem;
  }

  .three .left p {
    font-size: 1rem;
  }

  .three .left {
    flex-basis: 60%;
  }
  .four .block h2 {
    font-size: 1.3rem;
  }

  .four .block p {
    font-size: 0.8rem;
  }
  .five .left {
    flex-basis: 65%;
  }
  .five .left h2 {
    font-size: 1.4rem;
  }

  .five .left p {
    font-size: 1rem;
  }

  .six .items {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .one .left {
    flex-basis: 45%;
  }
  .one .right {
    flex-basis: 55%;
  }
  .navbar-container .items {
    display: none;
  }
  .hidden {
    display: block;
    font-size: 2rem;
  }
  .two .container .bottom .left {
    flex-basis: 40%;
  }
  .two .container .bottom .right .block h2 {
    font-size: 1.3rem;
  }
  .two .container .bottom .right .block p {
    text-align: center;
  }
  .four .block h2 {
    font-size: 1.2rem;
  }

  .four .block p {
    font-size: 0.8rem;
  }
  .four .block h2 {
    font-size: 1.1rem;
  }
  .five .left {
    flex-basis: 64%;
  }
  .six .items {
    font-size: 1.2rem;
  }
  .seven .logo{
    width: 80px;
  }
  .seven .logo img{
    width: 100%;
  }
  .seven .right img{
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 700px) {
  .five .right button {
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 610px) {
  .one {
    flex-direction: column;
    gap: 1rem;
  }
  .two .container .top {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .one {
    margin-bottom: 2rem;
  }
  .two::before {
    width: 60%;
  }

  .two .bottom {
    flex-direction: column;
    gap: 3rem;
  }
  .two .container .bottom .right .block {
    flex-basis: 48%;
    margin-bottom: 1rem;
  }
  .two .container .bottom .right .block p {
    font-size: 1rem;
  }
  .two .container .bottom .right .block h2 {
    font-size: 2rem;
  }
  .two .container .bottom .left h2 {
    font-size: 3rem;
  }

  .two .container .bottom .left h3 {
    font-size: 1.3rem;
  }

  .two .container .bottom {
    /* border: 2px solid red; */
    width: 100%;
  }
  .two .container .bottom .right {
    /* border: 2px solid red; */
    width: 100%;
  }
  .three {
    flex-direction: column;
    gap: 1.3rem;
    text-align: center;
  }

  .four {
    flex-direction: column;
    width: 90%;
  }

  .four .block {
    /* border: 2px solid red; */
    flex-basis: 100%;
  }
  .five {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    width: 90%;
    padding: 2em;
  }

  .seven-container {
    width: 87%;
  }
  .six .items {
    font-size: 1rem;
  }
}

@media screen and (max-width: 468px) {
  .one .right .heading-small {
    font-size: 1.5rem;
  }

  .one .right .heading-large {
    font-size: 2rem;
  }

  .one .right .one-text {
    font-size: 1rem;
  }
  .two::before {
    width: 100%;
  }
  .six {
    /* border: 2px solid red; */
    width: 90%;
  }
  .six .items {
    font-size: 1rem;
  }
  .seven .logo{
    display: none;
  }
  .seven {
    padding: 2em;
  }
}

@media screen and (max-width: 400px) {
  .one .right .heading-small {
    font-size: 1.3rem;
  }

  .one .right .heading-large {
    font-size: 1.8rem;
  }
  .one .right .red button {
    padding: 0.7rem 1.3rem;
  }
  .two .container .bottom .right .block p {
    font-size: 1rem;
  }
  .two .container .bottom .right .block h2 {
    font-size: 1.5rem;
  }
  .two .container .bottom .left h2 {
    font-size: 2.5rem;
  }

  .two .container .bottom .left h3 {
    font-size: 1.2rem;
  }
  .six .items {
    gap: 0.5rem;
  }
  .six .items {
    font-size: 0.8rem;
  }
}
